<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Serwis Ogloszeniowy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" style="color:white;">Serwis Ogłoszeniowy</a>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a asp-controller="Home" asp-action="Index" class="nav-item nav-link">Strona główna</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Auction" asp-action="AddAuction" class="nav-item nav-link">Dodaj ogłoszenie</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Auction" asp-action="AuctionList" class="nav-item nav-link">Lista ogłoszeń</a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                        <ul class="navbar-nav ml-auto">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a asp-controller="AccountManager" asp-action="Logout" class="nav-item nav-link">Wyloguj się</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="AccountManager" asp-action="Profile" class="nav-item nav-link">Mój profil</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a asp-controller="AccountManager" asp-action="Login" class="nav-item nav-link">Zaloguj się</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="AccountManager" asp-action="Register" class="nav-item nav-link">Zarejestruj się</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="padding-top:20px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SerwisOgloszeniowy - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
